:host {
  mhr-list-tile {
    display: block;
  }

  mhr-list-tile-action {
    span {
      text-transform: capitalize;
      color: var(--mhr-list-tile-action-color);
      white-space: nowrap;
    }
  }
  mhr-list-tile-subtitle {
    text-transform: capitalize;
    word-break: break-all;
  }
}
