:host {
  .left-section {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;

    .mat-headline-5 {
      padding-left: var(--mhr-padding-24);
      padding-right: var(--mhr-padding-24);
      margin-bottom: 0px;
    }

    .content {
      flex: 1 1 auto;
      &.empty {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
      }
      &:not(.empty) {
        display: flex;
        flex-flow: column nowrap;
        align-items: stretch;
      }
    }
  }

  .right-section {
    &.no-patient-selected {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: center;
    }
  }
}
