<mhr-sections>
  <!-- actions -->
  <mhr-section width="min(360px, 24vw)" class="left-section">
    <!--header  -->
    <div class="header">
      <mhr-go-back-button routerLink="../"></mhr-go-back-button>
      <span
        class="mat-headline-5"
        matTooltip="5IIFGXH2CJNRRTZJ4SFATW52X3AQKEG2HRSDQQKKMRCGJGW3FTB4F7ZMRI"
      >
        5IIFGXH2CJNRRTZJ4SFATW52X3AQKEG2HRSDQQKKMRCGJGW3FTB4F7ZMRI
      </span>
    </div>

    <!-- content -->
    <div class="content">
      <!-- records -->
      <mhr-list-tile
        [routerLink]="record.id"
        routerLinkActive="active"
        *ngFor="let record of records"
      >
        <mhr-list-tile-title> {{ record.name }} </mhr-list-tile-title>
        <mhr-list-tile-action>
          <mhr-expand-item-icon></mhr-expand-item-icon>
        </mhr-list-tile-action>
      </mhr-list-tile>
    </div>
  </mhr-section>

  <!-- router outlet -->
  <mhr-section
    [verticalPadding]="false"
    class="right-section"
    flex="1 1 auto"
    [class.no-record-selected]="noSegmentSelected"
  >
    <mhr-empty-records
      description="Select a segment on the left to view its details"
      *ngIf="noSegmentSelected"
    ></mhr-empty-records>
    <router-outlet></router-outlet>
  </mhr-section>
</mhr-sections>
