<div class="left-pane"></div>
<div class="right-pane">
  <div class="spacer-1"></div>
  <img src="/assets/images/algorand-logo.svg" routerLink="/" matRipple />
  <div class="spacer-2"></div>
  <span class="mat-headline-3 title">
    Connect Your Algorand Wallet for Secure and Decentralized Medical Record
    Access
  </span>
  <button
    mat-flat-button
    color="primary"
    class="mhr-button-1"
    type="button"
    (click)="connect()"
  >
    <span> Connect Wallet </span>
  </button>
  <div class="spacer-3"></div>
</div>
