:host {
  .left-section {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    .mat-headline-5 {
      padding-left: var(--mhr-padding-24);
      padding-right: var(--mhr-padding-24);
      margin-bottom: 0px;
    }

    .content {
      display: flex;
      flex-flow: column nowrap;
      align-items: stretch;
      flex: 1 1 auto;
      overflow-y: auto;
      mhr-list-tile-action {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
      }
    }
  }
}
