:host {
  .left-section {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    .header {
      display: flex;
      flex-flow: row nowrap;
      justify-content: start;
      align-items: center;
      padding-left: var(--mhr-padding-24);
      padding-right: var(--mhr-padding-24);
      .mat-headline-5 {
        margin-bottom: 0px;
        flex: 1 1 auto;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      > * {
        &:not(:last-child) {
          margin-right: 12px;
        }
      }
    }

    .content {
      flex: 1 1 auto;
      &.empty {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
      }
      &:not(.empty) {
        display: flex;
        flex-flow: column nowrap;
        align-items: stretch;
      }
      mhr-list-tile-action {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
      }
    }
  }
}
