<!-- dialog header -->
<div class="header" matDialogTitle>
  <span class="mat-headline-5"> Add record </span>
  <mhr-close-icon matDialogClose></mhr-close-icon>
</div>

<!-- body -->
<form [formGroup]="form" matDialogContent (ngSubmit)="submit()">
  <!-- name -->
  <mat-form-field appearance="outline">
    <mat-label>Name(Optional)</mat-label>
    <input
      type="text"
      formControlName="name"
      matInput
      [maxLength]="connectionRecordMetadataForm.nameMaxLength"
    />
    <mat-error *ngIf="form.controls['name'].hasError('maxlength')">
      Should be
      {{ form.controls['name'].errors?.['maxlength']?.requiredLength }}
      characters or less
    </mat-error>
  </mat-form-field>

  <!-- description -->
  <mat-form-field appearance="outline">
    <mat-label>Description(Optional)</mat-label>
    <textarea
      formControlName="description"
      matInput
      [maxLength]="connectionRecordMetadataForm.descriptionMaxLength"
    ></textarea>
    <mat-error *ngIf="form.controls['description'].hasError('maxlength')">
      Should be
      {{ form.controls['description'].errors?.['maxlength']?.requiredLength }}
      characters or less
    </mat-error>
  </mat-form-field>

  <!-- button -->
  <button type="submit" mat-flat-button color="primary">
    <span class="text"> Add Segments </span>
  </button>
</form>
