:host {
  .left-section {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    max-width: min(100%, 640px);
    .header {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-between;
      padding-left: var(--mhr-padding-24);
      padding-right: var(--mhr-padding-24);
      .mat-headline-5 {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .badge {
        background-color: var(--mhr-secondary-action-color);
        border-radius: 24px;
        text-transform: capitalize;
        &.active {
          color: var(--mhr-active-color);
        }
      }
    }
    .content {
      padding: var(--mhr-padding-24);
      flex: 1 1 auto;
      overflow-y: auto;
    }
  }
}
